<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="infoLog" xsi:type="File" fileName="${basedir}/logs/infoLog.log" />
        <target name="appLog" xsi:type="File" fileName="${basedir}/logs/appLog.log" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" level="Info" writeTo="infoLog" />
        <logger name="*" level="Debug" writeTo="logconsole" />
        <logger name="*" levels="Trace,Warn,Error,Fatal" writeTo="appLog" />
    </rules>
</nlog>